*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    background-color: rgb(245, 245, 245);
}
.row{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.carousel-container{
    text-align: center;
    flex-basis: 0;
    flex-grow: 5;
}

.thumbnails-container{
    flex-basis: 0;
    flex-grow: 1;
    position: relative;
}

.thumbnail{
    opacity: 0.5;
}

img{
    max-width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    display: block;
}


.imgcontainer{
    text-align: right;
    position: relative;
}

.imgtext{
    color: white;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.item{
    display: none;
}

.active{
    display: inline-block;
}

.arrowhead{
    background-color: white;
    opacity: 0.5;
    position: absolute;
    width: 30px;
    padding: 5px;
    border-radius: 50%;
    text-align: center;
}

.down{
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -2%);
}

.up{
    top: 2%;
    left: 50%;
    transform: translate(-50%, -2%);
}

.arrowhead:hover{
    opacity: 1;
    cursor: pointer;
}

.thumbActive{
    border: 3px solid white;
    opacity: 1;
}